*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
}


body{
    background-color: #68B0AB;
    font-family: 'ubuntu';
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header{
    width: 100%;
    height: 100px;
    background-color: #C8D5B9;
}

.big-letters-name{
    font-size: 40px;
}
.header-navigation{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 40px;
}

.header-link{
    text-decoration: none;
    color: black;
}

#introduction{
    width: 50%;
    height: 300px;
    background-color: #8FC0A9;
    margin-top: 40px;
    border-radius: 15px;
}

.responsive-video {
    display: none;
}


@media (min-width: 3000px) {
    .responsive-video {
        display: block;
    }
    #introduction{
        width: 100%;
        height: 1500px;
    }
}
