* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
}


body {
    background-color: #68B0AB;
    font-family: 'ubuntu';
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 100px;
    background-color: #C8D5B9;
}

section {
    margin-top: 50px;
}

.big-letters-name {
    font-size: 40px;
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 40px;
}

.header-link {
    text-decoration: none;
    color: black;
}

#introduction {
    width: 50%;
    height: 300px;
    background-color: #8FC0A9;
    margin-top: 40px;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: xx-large;
}

#about-me {
    text-align: center;
}

#work-experience-section {
    display: flex;
    background-color: #8FC0A9;
    width: 100%;
    height: 500px;
    flex-direction: column;
}


.work-experience {
    margin-left: 15px;
    display: flex;
    width: 20%;
}

.work-experience-arrow {
    margin-left: 10px;
    margin-top: 2px;
    width: 25px;
    height: 17px;
}

.work-experience-placement {
    flex: 0 0 auto;
    width: 300px;
    height: 400px;
    background-color: #C8D5B9;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.work-experience-logo {
    width: 300px;
    height: 100px;
}

.work-experience-job-title {
    display: flex;
    justify-content: center;
}

.work-experience-job-description {
    margin-top: 30px;
    margin-left: 10px;
}

#projects {
    display: flex;
    background-color: #8FC0A9;
    width: 100%;
    height: 500px;
    flex-direction: column;
}

.projects-arrow-part {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.projects-wrapper {
    width: 100%;
    overflow: hidden;
    /* hide scrollbar entirely */
    position: relative;
}

.projects-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    transition: transform 0.2s ease-out;
    /* smooth scrolling effect */
}

.projects-container.active {
    cursor: grabbing;
    /* grabbing cursor while dragging */
}

.placeholder-image {
    border-radius: 15px;
}

#contact {
    margin-bottom: 50px;
}

.contact-button {
    height: 100px;
    width: 220px;
    background-color: #C8D5B9;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

#contact a {
    text-decoration: none;
    color: inherit;

}

.outlook-image {
    margin-right: 10px;
    width: 60px;
    height: 60px;
}

.black-outline {
    border: 2px solid black;
}

footer {
    position: relative;
    display: flex;
    background-color: #8FC0A9;
    width: 100%;
    height: 400px;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 60px;
}

.footer-buttons-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 60px;
}

footer .big-letters-name {
    display: flex;
    font-size: 100px;
    align-items: center;
}

body.dark {
    background-color: #161b27;
    color: #e6e6e6;
}

body.dark header,
body.dark #introduction,
body.dark #work-experience-section,
body.dark #projects,
body.contact,
body.work-experience-job-title,
body.dark footer {
    background-color: #1f2640;
    color: #e6e6e6;
}

body.dark .work-experience-placement,
body.dark .placeholder-image,
body.dark .contact-button {
    background-color: #2a314a;
    color: #e6e6e6;
}

body.dark .work-experience-job-description,
body.dark #about-me p {
    color: #b0b0b0
}

body.dark a,
body.dark .header-link {
    color: #56b8f7;
}

#theme-toggle {
    background: none;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: inherit;
    font-family: 'ubuntu';
    font-size: 2rem;
}

#theme-toggle:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.1);
}

